.App {
  text-align: center;
}

/* .App-header-image{
  background-image: url(https://i.postimg.cc/pLsRQSnP/Parachute.png)
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-image: url(https://i.postimg.cc/pLsRQSnP/Parachute.png); */
  background-color: white;
  height:300px;
  width: 500px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom:0px;
  text-align: center;
  font-family: 'Riffic Free'
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .nav-title{
  background-image: url(https://i.postimg.cc/pLsRQSnP/Parachute.png)
  } */

  .login-form-container{
    font-family: 'Life Savers'
  }
  .nav-links{
    color: rgb(49, 163, 115);
    margin-right: 26px;
    font-size:larger;
    font-family: 'Riffic Free'
  }

  .username-form-container{
    height: 20px;
    margin-right: 3px;
    border-radius: 5px;
    border: 1px solid palevioletred;
  }

  .password-form-container{
    height: 20px;
    border-radius: 5px;
    border: 1px solid palevioletred;
  }

  .login-submit-button{
    height: 20px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 5px;
    border: 1px solid palevioletred;
  }

  .logout-submit-button{
    height: 20px;
    border-radius: 5px;
    border: 1px solid palevioletred;
  }
  
  .select-bar{
    font-family: 'life-savers';
    font-size: large;
    width: 200px;
    height: 43px;
    border-radius: 15px;
  }

  .comment-text-box{
    height: 43px;
    width: 300px;
    border-radius: 5px;
  }

  .type-select-box{
    width: 50px;
    height: 20px;
    border-radius: 5px;
  }

  .data-submit-button{
    width: 40px;
    height: 30px;
    border-radius: 5px;
  }

  .add-data-button-user-home{
    border-radius: 15px;
  }